/.#ido.last
/.emacs.desktop
/.#README.html
/ac-comphist.dat
/.#recentf
/.python-environments/default/bin/activate
/.python-environments/default/bin/activate.csh
/recentf
/bookmarks
/helm-doc.org
/ido.last
/tramp
/session.108db221dbe64f677145339927091050600000026540054
